<mat-card *ngIf="cardAlcancia">
    <mat-card-title class="title">
        <h2>Alcancia</h2>
    </mat-card-title>
 
    <app-resumen [cantidadMonedas]="cantidadMonedas" 
    [cantidadDinero]="cantidadDinero"></app-resumen>

        <h2 class="title">Elegir denominación monedas</h2>
    
    <mat-card-content>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked50">$50</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked100">$100</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked200">$200</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked500">$500</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked1000">$1000</mat-checkbox>
        </section>
    </mat-card-content>

    <mat-card-title *ngIf="checked50 || checked100 || checked200 || checked500 || checked1000">
        <h2>Moneda</h2>
    </mat-card-title>

    <mat-card-content>
        <section>
            

            <div *ngIf="checked50" class="example-label-container"
                [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                <label id="example-name-label" class="example-name-label">$50</label>
                <label class="example-value-label"> {{moneda50}}</label>
            </div>


            <mat-slider *ngIf="checked50" class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max"
                [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()"
                [(ngModel)]="moneda50" [vertical]="vertical" aria-labelledby="example-name-label">
            </mat-slider>

            <div *ngIf="checked100" class="example-label-container"
                [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                <label id="example-name-label" class="example-name-label">$100</label>
                <label class="example-value-label"> {{moneda100}}</label>
            </div>
            <mat-slider *ngIf="checked100" class="example-margin" [disabled]="disabled" [invert]="invert"
                [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel"
                [tickInterval]="getSliderTickInterval()" [(ngModel)]="moneda100" [vertical]="vertical"
                aria-labelledby="example-name-label">
            </mat-slider>

            <div *ngIf="checked200" class="example-label-container"
                [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                <label id="example-name-label" class="example-name-label">$200</label>
                <label class="example-value-label"> {{moneda200}}</label>
            </div>
            <mat-slider *ngIf="checked200" class="example-margin" [disabled]="disabled" [invert]="invert"
                [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel"
                [tickInterval]="getSliderTickInterval()" [(ngModel)]="moneda200" [vertical]="vertical"
                aria-labelledby="example-name-label">
            </mat-slider>

            <div *ngIf="checked500" class="example-label-container"
                [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                <label id="example-name-label" class="example-name-label">$500</label>
                <label class="example-value-label"> {{moneda500}}</label>
            </div>
            <mat-slider *ngIf="checked500" class="example-margin" [disabled]="disabled" [invert]="invert"
                [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel"
                [tickInterval]="getSliderTickInterval()" [(ngModel)]="moneda500" [vertical]="vertical"
                aria-labelledby="example-name-label">
            </mat-slider>




            <div *ngIf="checked1000" class="example-label-container"
                [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                <label id="example-name-label" class="example-name-label">$1000</label>
                <label class="example-value-label"> {{moneda1000}}</label>
            </div>
            <mat-slider *ngIf="checked1000" class="example-margin" [disabled]="disabled" [invert]="invert"
                [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel"
                [tickInterval]="getSliderTickInterval()" [(ngModel)]="moneda1000" [vertical]="vertical"
                aria-labelledby="example-name-label">
            </mat-slider>
        </section>
    </mat-card-content>

    <mat-card-content>


        <button [disabled]="moneda50==0 && moneda100==0 && 
            moneda200==0 && moneda500==0 && moneda1000==0" mat-raised-button color="primary"
            (click)="insertar()">Insertar</button>          
        <button [disabled]="cantidadMonedas==0" mat-raised-button color="primary" (click)="vaciar()" class="cleanbutton">vaciar</button>
    
    </mat-card-content>

</mat-card>
<br>
    <app-informacion [cantidadMonedasInfo]="cantidadMonedas" 
[cantidadDineroInfo]="cantidadDinero"
[cantidad50]="cantidad50"
[cantidad100]="cantidad100"
[cantidad200]="cantidad200"
[cantidad500]="cantidad500"
[cantidad1000]="cantidad1000" >
</app-informacion>


