.body {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
  }

  .example-h2 {
    margin: 0 8px 16px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-section2 {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
  }

  .example-margin {
    margin: 8px;
  }
  
  .mat-slider-horizontal {
    width: 300px;
  }
  
  .mat-slider-vertical {
    height: 300px;
  }
  
  .mat-card + .mat-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }
  
  .example-result-card .example-label-container.example-label-horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 16px;
    max-width: 284px;
  }
  
  .example-result-card .example-label-container.example-label-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 68px;
    height: 48px;
  }
  
  .example-result-card .example-value-label {
    font-weight: 600;
  }


  .example-button-row {
    display: table-cell;
    width: 100%;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .example-margin {
    margin: 0 10px;
  }

  .title{
    text-align: center;
  }

  .cardAlcancia{
    width: 20rem !important;
  }

  .cleanbutton{
    margin-left: 15rem;
  }